<h2><a id="<%= File.basename post.path %>"><%= post[:title] %></a></h2>

<%= post.compiled_content %>

<div class="journaldate">
<% category = File.dirname post.path %>
<%= post[:created_at] %> &mdash;
<%= link_to category.gsub(/^.blog./, ""), category %> &mdash;
<%= link_to "permanent link", post.path %>
</div>

