<% render 'headers' do %>

      <div class="navigation">
        <ul class = "navigation">
        <% breadcrumbs_trail.each do |i| %>
        <%   next if i.identifier == "/" and item.identifier != "/" %>
          <li><%= link_to_unless_current(i[:nav] || i[:title], i.reps.find { |r| r.name == :default }) %></li>
        <% end %>
        </ul>
      </div>

      <% if content_for(@item, :right) then %>
      <div class="right">
        <% filter(:pandoc) do %>
          <%= content_for(@item, :right) %>
        <% end %>
      </div>
      <% end %>

      <%= render 'nav-bar' %>

      <div class="content">
      <%= yield %>

        <% unless @item[:hide_time] then %>
        <div class="footer">
        Last modified on <%= @item[:mtime].strftime "%Y-%m-%d %T %z" %>.
        </div>
        <% end %>

      </div>

<% end %>
