<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @item[:title] %></title>
    <link href="/tbm.css" rel="stylesheet" type="text/css">
    <link rel="author" title="Martin Michlmayr" href="mailto:tbm@cyrius.com">
    <link rel="alternate" type="application/atom+xml" title="Martin Michlmayr's blog" href="/blog/feed/">
    <meta charset="utf-8">
    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
    <meta name="author" content="Martin Michlmayr">
    <% if @item[:description] then %>
    <meta name="description" content="<%= @item[:description] %>">
    <% end %>
    <% if @item[:keywords] then %>
    <meta name="keywords" content="<%= @item[:keywords].join(", ") %>">
    <% end %>
    <% if @item.identifier == "/" then %>
    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://tbm.myopenid.com/">
    <% end %>

  </head>

  <body>
    <div class="page">

      <div class="header">Martin Michlmayr</div>

      <%= yield %>

    </div>

  </body>

</html>

