<div class = "index">
  <ul class = "index">
    <li><%= link_to("Biography", @items["/bio/"]) %></li>
    <li><%= link_to("Curriculum Vitae", @items["/cv/"]) %></li>
    <li><%= link_to("Blog", @items["/blog/"]) %></li>
    <li><%= link_to("Research", @items["/research/"]) %></li>
    <li><%= link_to("Talks", @items["/talks/"]) %></li>
    <li><%= link_to("Publications", @items["/publications/"]) %></li>
    <li><%= link_to("Debian HOWTOs", @items["/debian/"]) %></li>
    <li><%= link_to("Contact", @items["/contact/"]) %></li>
  </ul>
</div>

